<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="detail">
    <div class="cus-detail">
        <label>Name:</label>
        <label th:text="${customers.name}"></label>
    </div>
    <div class="cus-detail">
        <label>Email:</label>
        <label th:text="${customers.email}"></label>
    </div>
    <div class="cus-detail">
        <label>Address:</label>
        <label th:text="${customers.address}"></label>
    </div>
</div>
</body>
</html>